{% extends 'base.html' %}
{% load django_bootstrap_breadcrumbs %}
{% load static %}
{% load recipe_extras %}
{% load thumbnail %}
{% load ratings %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Recipes" "recipe-list" %}
    {% breadcrumb "Explore" "explore-recipes" %}
{% endblock %}

{% block title %}
    {{ block.super }}
    | Explore recipes
{% endblock title %}

{% block content %}
    {% render_breadcrumbs %}

    <div class="row">

        <div class="col s12">
{#            <h3>Explore recipes</h3>#}

            {% for key, value in tagged_recipes.items %}

                <div>
                    <h5 class="center-align"> {{ key }} </h5>


                    <div class="slick-carousel-wrapper">
                        <div class="responsive-slick-carousel">
                            {% for recipe in value %}
                                <div class="slick-carousel-slide">
                                    {% include "recipe/recipe_card.html" with recipe=recipe %}
                                </div>

                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% if forloop.last %}
                {% else %}
                    <hr>
                    <br>
                {% endif %}

            {% endfor %}

        </div>
    </div>


{% endblock content %}
