{% load static %}
{% load recipe_extras %}
{% load core_extras %} 

{# TODO: implement the rest of the printout html #}

<!DOCTYPE html>
<html>
<head>
    <title>{{ recipe }}</title>
    <link type="text/css" rel="stylesheet" href="{% static 'recipe/print.css' %}">
    <link rel="stylesheet" media="print" href="{% static 'recipe/print.css' %}">
</head>
<body>

<div class="recipe-printout">
    <img width="500" src="{{ recipe.image.upload.url }}">
    <h1 class="recipe-printout-title">
        {{ recipe }}
    </h1>
    <div class="recipe-printout-info">
        <table class="time-table">
            <tr>
                <td>
                    {{ recipe.prep_time|min_to_hr }}
                </td>
                <td>
                    {{ recipe.cook_time|min_to_hr }}
                </td>
                <td>
                    {{ recipe.total_time|min_to_hr }}
                </td>
                <td>
                    {{ recipe.servings }}
                </td>
            </tr>
        </table>

    </div>
    <div class="recipe-printout-ingredients">

    </div>
    <div class="recipe-printout-directions">

    </div>
</div>

</body>
</html>

