{% extends 'base.html' %}
{% load django_bootstrap_breadcrumbs %}
{% load static %}
{% load recipe_extras %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Recipes" "recipe-list" %}
    {% breadcrumb "Explore" "explore-recipes" %}

{% endblock %}

{% block title %}
    {{ block.super }}
    | Recipe series
{% endblock title %}

{% block content %}
    {% render_breadcrumbs %}


    <div class="row">
        <div class="col s12 offset-m1 m10 offset-l2 l8">


            {% for series in object_list.all %}
                <h2>{{ series.name }}</h2>
                {#                <div class="carousel carousel-slider">#}
                {#                    {% for recipe in series.recipes.all %}#}
                {#                        <a class="carousel-item" href="#recipe_{{ recipe.id }}"><img src={{ recipe.med_image_url }}></a>#}
                {##}
                {#                    {% endfor %}#}
                {##}
                {#                </div>#}
                <div class="row">
                    <div class="col s12">
                        <ul class="tabs center">
                            <li class="tab col s6"><a href="#recipes_{{ series.id }}">Recipes</a></li>
                            <li class="tab col s6"><a href="#posts_{{ series.id }}">Blog posts</a></li>
                        </ul>
                    </div>
                    <div id="recipes_{{ series.id }}" class="col s12">
                        {% for recipe in series.recipes.all %}
                            <div>
                                {{ recipe.name }}
                            </div>
                        {% endfor %}                    </div>
                    <div id="posts_{{ series.id }}" class="col s12">
                        {% for post in series.posts.all %}
                            <div>
                                {{ post.name }}
                            </div>
                        {% endfor %}
                    </div>
                </div>


            {% endfor %}
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    {#    <script src={% static 'recipe/recipe_filter.js' %}></script>#}
{% endblock scripts %}