{% extends 'base.html' %}
{% load django_bootstrap_breadcrumbs %}
{% load static %}
{% load recipe_extras %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Recipes" "recipe-list" %}
    {% breadcrumb "Search" "search-recipes" %}

{% endblock %}

{% block content %}
    {% render_breadcrumbs %}
    <h2>Recipes</h2>
    <form method="get" id="recipe_filter_form" action="">

        <div class="row">
            <div class="col s12 m10 l8">
                <ul class="collapsible no-autoinit" id="collapsible_filter">
                    <li>
                        <div class="collapsible-header"><i class="material-icons">filter_list</i>Filter</div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class="input-field col s5">
                                    <input name="name__icontains" placeholder="name" id="recipe_name_input" type="text"
                                           class="validate" autocomplete="off">
                                    <label>Name contains</label>
                                </div>
                                <div class="input-field col s7">
                                    <select id="ordering">
                                        <option value="-avg_ratings" selected> rating</option>
                                        <option value="-total_time"> total time</option>
                                        <option value="-created_at">newest</option>
                                    </select>
                                    <label>Sort by:</label>
                                </div>

                                {% if filter_tags|length %}
                                    <div class="input-field col s6">
                                        <select multiple id="tags_input" name="tags">
                                            {% for tag in filter_tags %}
                                                <option value={{ tag.name }}> {{ tag.name }}</option>
                                            {% endfor %}
                                        </select>
                                        <label>Tags</label>
                                    </div>
                                {% endif %}

                                <div class="input-field col s6">
                                    <label class="chips-label">Ingredients</label>
                                    <div id="ingredient_chips" class="chips chips-autocomplete no-autoinit"
                                         style="margin-top: 0"></div>
                                </div>


                            </div>

                            <button class="waves-effect waves-light btn hide" type="submit"> Search</button>
                            <button type="reset" id="clear_fields" class="waves-effect waves-teal teal lighten-3 btn">
                                Reset
                            </button>
                            <button id="close_filter_form" class="waves-effect waves-red red lighten-1 btn right"><i
                                    class="material-icons">clear</i>
                            </button>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
        <input id="recipe_filter_page" name="page" type="hidden" value="1">
    </form>

    <div class="row">
        <div class="col s12">
            <div class="row">
                <div class="col s10">
                    <div class="preloader-wrapper big active hide" id="recipes_loader">
                        <div class="spinner-layer spinner-blue-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                    <div id="filtered_recipes"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <ul class="pagination">
            </ul>
        </div>
    </div>

{% endblock content %}

{% block scripts %}
{% endblock scripts %}