{% extends 'base.html' %}
{% load django_bootstrap_breadcrumbs %}
{% load static %}
{% load recipe_extras %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Recipes" "recipe-list" %}
    {% breadcrumb "Explore" "explore-recipes" %}

{% endblock %}

{% block title %}
    {{ block.super }}
    | Recipe series
{% endblock title %}

{% block content %}
    {% render_breadcrumbs %}


    <div class="row">
        <div class="col s12 m8 l6">
            {% if object_list %}
                {% for series in object_list.all %}
                    <div class="series-wrapper">
                        <h4 class="series-title">{{ series.name }}</h4>

                        <div class="row series-tabs">
                            <div class="col s12">
                                <ul class="tabs center">
                                    <li class="tab col s6"><a href="#recipes_{{ series.id }}">Recipes</a></li>
                                    <li class="tab col s6"><a href="#posts_{{ series.id }}">Blog posts</a></li>
                                </ul>
                            </div>
                            <div id="recipes_{{ series.id }}" class="col s12 series-content">
                                <ul>
                                    {% if series.recipes.all %}
                                        {% for recipe in series.recipes.all %}
                                            <li>
                                                <a href="{{ recipe.get_absolute_url }}">{{ recipe }}</a>
                                            </li>
                                        {% endfor %}
                                    {% else %}
                                        No recipes in series...
                                    {% endif %}

                                </ul>

                            </div>
                            <div id="posts_{{ series.id }}" class="col s12 series-content">
                                <ul>
                                    {% if series.posts.all %}
                                        {% for post in series.posts.all %}
                                            <li>
                                                <a href="{{ post.get_absolute_url }}">{{ post }}</a>
                                            </li>
                                        {% endfor %}
                                    {% else %}
                                        No posts in series....
                                    {% endif %}

                                </ul>
                            </div>
                        </div>

                        {#                    <hr style="transform: scaleX(1.25)">#}
                        {% if forloop.last %}
                        {% else %}
                            <hr>
                            <br>
                        {% endif %}
                    </div>

                {% endfor %}
            {% else %}
                No series found...
                Check back in a bit!
            {% endif %}

        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            let $series = $('.series-wrapper');

            $series.each(function () {
                // Get series content
                var $seriesContent = $(this).find('.series-content');

                // Get an array of all element heights
                var elementHeights = $seriesContent.map(function () {
                    return $(this).height();
                }).get();

                // Math.max takes a variable number of arguments
                // `apply` is equivalent to passing each height as an argument
                var maxHeight = Math.max.apply(null, elementHeights);

                // Set each height to the max height
                $seriesContent.height(maxHeight);
            });


        });
    </script>
{% endblock scripts %}