{% load thumbnail %}
{% load ratings %}
{% load recipe_extras %}

<div class="recipe-sneakpeek">
    <div>
        <a class="waves-effect waves-light" href="{{ recipe.get_absolute_url }}"><img class="recipe-sneakpeek-image "
                                                                                      src={{ recipe.image.upload.url }}></a>
    </div>
    <span class="recipe-sneakpeek-info">
            {% for tag in recipe.tags.all %}

                {% if forloop.last %}
                    <a class="basic-link" href="{% url 'tagged-by-recipes' slug=tag.slug %}"
                       class="recipe-sneakpeek-tag"> {{ tag }}</a>

                {% else %}
                    <a class="basic-link" href="{% url 'tagged-by-recipes' slug=tag.slug %}"
                       class="recipe-sneakpeek-tag"> {{ tag }}, </a>
                {% endif %}

            {% endfor %}
        <span class="recipe-sneakpeek-date"> — {{ recipe.created_at|date }}</span>
    </span>

    <h5 class="recipe-sneakpeek-title"><a href="{{ recipe.get_absolute_url }}"> {{ recipe.name }}</a></h5>
    <div class="hide-on-small-and-down">
        {{ recipe.short_description|truncatewords:25 }}
    </div>

</div>