{% extends 'base.html' %}
{% load django_bootstrap_breadcrumbs %}
{% load render_json_ld from json_ld %}
{% load ratings %}
{% load core_extras %}

{% block jsonld %}
    {% render_json_ld sd %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Recipes" "recipe-list" %}
    {% breadcrumb recipe.name "recipe-detail" recipe.slug %}
{% endblock %}

{% block content %}
    {% render_breadcrumbs %}
    <div class="row">
        <div class="col s12">
            <h1>
                {{ recipe.name }}
            </h1>
            <div class="row">
                <div class="col s12 m12 l6">
                    {#            <img class="responsive-img" src={{ recipe.med_image_url }}/>#}
                    {% if recipe.image.upload.url %}
                        <img class="responsive-img" src={{ recipe.image.upload.url }}>
                    {% else %}
                        <img class="responsive-img" src={{ recipe.large_image_url }}>
                    {% endif %}
                    <div class="fixed-action-btn">
                        <a class="btn-floating btn-large red">
                            <i class="large material-icons">share</i>
                        </a>
                        <ul>
                            <li><a class="btn-floating red tooltipped" data-position="left"
                                   data-tooltip="Share on Facebook"><i
                                    class="fa fa-facebook-f" aria-hidden="true"></i></a></li>
                            <li><a class="btn-floating yellow darken-1 tooltipped" data-position="left"
                                   data-tooltip="Share on Pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                            </li>
                            <li><a class="btn-floating green tooltipped" data-position="left" data-tooltip="Email"><i
                                    class="material-icons">email</i></a></li>
                            <li>
                                <a id="content_copy" tabindex="0" class="btn-floating blue tooltipped"
                                   data-position="left"
                                   data-tooltip="Copy url link">
                                    <i class="material-icons">content_copy</i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col s12 m12 l6">

                    <b>
                        {% ratings object template_name="recipe/dumpling_ratings.html" icon_height=25 icon_width=25 %}
                    </b>
                    <div>
                        <p>
                            {{ recipe.short_description }}
                        </p>
                    </div>
                    <hr>
                    <span class="hide">
                        <a href="#"><i class="material-icons" aria-hidden="true">print</i></a>
                        <a href="#"><i class="fa fa-facebook-f" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                        <a id="like_plus_one" href="#">
                            <i class="material-icons"> thumb_up </i>
                            <span id="like_count">{{ recipe.likes }}</span>
                        </a>

                    </span>
                    <ul>
                        <li>
                            Prep time: {{ recipe.prep_time|min_to_hr }}
                        </li>
                        <li>
                            Cook time: {{ recipe.cook_time|min_to_hr }}
                        </li>
                        <li>
                            <b>Total time:</b> {{ recipe.total_time|min_to_hr }}
                        </li>
                        <hr>
                        <li>
                            <b>Servings:</b>
                            <!-- Dropdown Trigger -->
                            <a class='dropdown-trigger btn dropdown-range' href='#' data-target='dropdown1'>
                                <span class="range-slider-target" id="num_servings_target"> </span>
                                <span></span>
                            </a>
                        </li>
                        <hr>

                    </ul>

                    {#                <input class="validate" id="num_servings" type="number" min="1" max="100"#}
                    {#                       value="{{ recipe.servings }}" size="10"/>#}
                    {#                <label for="num_servings"># of servings </label>#}
                    {#                <span class="helper-text" data-error="Enter number between 1 and 100" data-success=""></span>#}


                    <!-- Dropdown Structure -->
                    <div id='dropdown1' class='dropdown-content'>
                        <div class="range-slider">
                            <input class="valign-wrapper" data-target="num_servings_target" type="range"
                                   id="num_servings"
                                   value="{{ recipe.servings }}" min="1" max="{{ recipe.max_servings }}"/>
                        </div>
                    </div>


                    <div>
                        <b>Ingredients: </b>
                        <div class="ingredient-list">
                            <p>
                                {% for ingredient_amount in recipe.ingredient_amounts.all|dictsortreversed:'amount' %}
                                    {#                                <span class="ingredient-amount-val">{{ ingredient_amount.amount }}  </span>#}
                                    {% if ingredient_amount.unit %}
                                        <span class="chip">
                                            <span class="ingredient-amount"> {{ ingredient_amount.amount }}</span>

                                            {{ ingredient_amount.unit }}
                                            of
                                            {{ ingredient_amount.ingredient }}
                                    </span>
                                    {% else %}
                                        <span class=" chip">{{ ingredient_amount.ingredient }}</span>
                                    {% endif %}

                                {% endfor %}
                            </p>

                        </div>
                    </div>

                </div>


                <div class="col s12 recipe-description flowy-font">
                    {{ recipe.description|safe }}
                </div>
                <div class="col s12">
                    <hr>

                </div>


                <div class="row">
                    <div class="col m10 sm12 recipe-directions">
                        {% for direction in recipe.directions.all %}

                            <div class="flowy-font">
                                <h3 id="direction-{{ direction.id }}" class="scrollspy">
                                    {{ direction.name }}
                                </h3>

                                {% if direction.ingredient_amounts.count %}
                                    <ul class="direction-ingredients discrete collapsible">
                                        <li>
                                            <div class="collapsible-header"><i
                                                    class="material-icons">arrow_drop_down</i>
                                                Show ingredients
                                                {#                                        <h3>#}
                                                {#                                            {{ direction.name }}#}
                                                {#                                        </h3>#}
                                            </div>
                                            <div class="collapsible-body">
                                                {% for ingredient_amount in direction.ingredient_amounts.all|dictsortreversed:'amount' %}
                                                    {% if ingredient_amount.unit %}
                                                        <span class="chip">
                                                    <span class="ingredient-amount"> {{ ingredient_amount.amount }}</span>

{#                                                    <input size="3" type="number" value="{{ ingredient_amount.amount }}"#}
{#                                                           disabled#}
{#                                                           class="ingredient-amount browser-default"/>#}
                                                    {{ ingredient_amount.unit }}
                                                    of
                                                    {{ ingredient_amount.ingredient }}
                                                </span>
                                                    {% else %}
                                                        <span class="chip">{{ ingredient_amount.ingredient }}</span>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </li>
                                    </ul>
                                {% endif %}

                                <div class="direction-markdown">
                                    {{ direction.text|safe }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col m2 sticky-toc hide-on-small-only">
                        <ul class="section table-of-contents flowy-font">
                            {% for direction in recipe.directions.all %}
                                <li><a href="#direction-{{ direction.id }}">{{ direction.name }}</a></li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>


            </div>
        </div>
    </div>


{% endblock %}

{% block scripts %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var elems = document.querySelectorAll(".dropdown-range.dropdown-trigger");
            var instances = M.Dropdown.init(elems, {
                hover: false,
                coverTrigger: false,
                constrainWidth: false,
                closeOnClick: false
            });

            var servingsRangeInput = document.getElementById("num_servings");
            var sliderTarget = document.getElementById(servingsRangeInput.dataset.target);
            sliderTarget.innerHTML = servingsRangeInput.value;

            servingsRangeInput.addEventListener("input", function () {
                sliderTarget.innerHTML = this.value;
            });

            initializeToggleIconCollapsible(
                '.direction-ingredients.collapsible',
                '.direction-ingredients.collapsible .material-icons',
                'arrow_drop_up',
                'arrow_drop_down',
                {
                    inDuration: 200,
                }
            );
            var anchorElement = $('#content_copy');
            const copyCopyTooltipOriginalMsg = anchorElement.attr('data-tooltip');
            anchorElement.on('click', function () {
                const msg = copyTextToClipboard(location.href);
                if (msg === 'successful') {
                    anchorElement.attr('data-tooltip', 'Url copied');
                    M.Tooltip.getInstance(anchorElement).destroy();
                    anchorElement.tooltip();
                    M.Tooltip.getInstance(anchorElement).open();

                    //resets tooltip to original after set delay
                    //setTimeout(function () {
                    //  M.Tooltip.getInstance(anchorElement).destroy();
                    //anchorElement.attr('data-tooltip', copyCopyTooltipOriginalMsg);
                    //anchorElement.tooltip();
                    //}, 1500)
                }
            })
            anchorElement.on('mouseout touchmove', function () {
                M.Tooltip.getInstance(anchorElement).destroy();
                anchorElement.attr('data-tooltip', copyCopyTooltipOriginalMsg);
                anchorElement.tooltip();
            })

        });

        $(document).ready(function () {
            const $servings = $('#num_servings');
            const origServings = {{ recipe.servings }};
            const $ingredientAmt = $('span.ingredient-amount');
            const ingredientDefaultValues = ($ingredientAmt.toArray().map(el => parseFloat(el.innerHTML)));

            $servings.on('change', function () {

                $ingredientAmt.each(
                    (idx, el) => {
                        $(el).html(ingredientDefaultValues[idx] * $servings.val() / origServings)
                    }
                )
            })
        });

        $(document).ready(function () {
            $('#like_plus_one').on('click', function () {
                $(this).addClass("liked")
                $.ajax({
                    url: 'like/',
                    data: {
                        'id': {{ recipe.id }}
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data) {
                            $('#like_count').html(data.numLikes)
                        }
                    }
                });
            });
        })

        function copyTextToClipboard(text) {
            var textArea = document.createElement("textarea");

            //
            // *** This styling is an extra step which is likely not required. ***
            //
            // Why is it here? To ensure:
            // 1. the element is able to have focus and selection.
            // 2. if element was to flash render it has minimal visual impact.
            // 3. less flakyness with selection and copying which **might** occur if
            //    the textarea element is not visible.
            //
            // The likelihood is the element won't even render, not even a flash,
            // so some of these are just precautions. However in IE the element
            // is visible whilst the popup box asking the user for permission for
            // the web page to copy to the clipboard.
            //

            // Place in top-left corner of screen regardless of scroll position.
            textArea.style.position = 'fixed';
            textArea.style.top = 0;
            textArea.style.left = 0;

            // Ensure it has a small width and height. Setting to 1px / 1em
            // doesn't work as this gives a negative w/h on some browsers.
            textArea.style.width = '2em';
            textArea.style.height = '2em';

            // We don't need padding, reducing the size if it does flash render.
            textArea.style.padding = 0;

            // Clean up any borders.
            textArea.style.border = 'none';
            textArea.style.outline = 'none';
            textArea.style.boxShadow = 'none';

            // Avoid flash of white box if rendered for any reason.
            textArea.style.background = 'transparent';


            textArea.value = text;

            document.body.appendChild(textArea);

            textArea.select();

            try {
                var successful = document.execCommand('copy');
                var msg = successful ? 'successful' : 'unsuccessful';
            } catch (err) {
            }

            document.body.removeChild(textArea);
            return msg;
        }

    </script>
{% endblock %}


