{% load thumbnail %}
{% load ratings %}
{% load recipe_extras %}

<div class="card recipe-card">
    <div class="card-image">
        {% if no_thumbnail %}
            <img class="responsive-img" src={{ recipe.image.upload.url }}>
        {% else %}
            {% thumbnail recipe.image.upload "400x400" crop="center" as im %}
                <img class="responsive-img" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
            {% empty %}
                <img class="responsive-img" src="{{ recipe.placeholder_url }}">
            {% endthumbnail %}
        {% endif %}


    </div>
    <div class="card-content">
        <span class="activator card-title grey-text text-darken-4 truncate">
            {{ recipe.name }}
            <i class="material-icons right">more_vert</i>
        </span>
        {#        <p><a class="btn waves-effect" href={{ recipe.get_absolute_url }}>See recipe</a></p>#}
    </div>
    <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">
            {{ recipe.name }}
            <i class="material-icons right">close</i>
        </span>

        <hr>

        <p>
            {% for tag in recipe.tags.all %}
                <span class="chip">{{ tag.name }} </span>
            {% endfor %}
        </p>

        <p>
            <a class="btn waves-effect" href={{ recipe.get_absolute_url }}>See recipe</a>
        </p>


        <div class="row">
            <div class="col">
                <ul>
                    {#                    <li>#}
                    {#                        Prep time: {{ recipe.prep_time|min_to_hr }}#}
                    {#                    </li>#}
                    {#                    <li>#}
                    {#                        Cook time: {{ recipe.cook_time|min_to_hr }}#}
                    {#                    </li>#}
                    <li>
                        <b>Total time:</b> {{ recipe.total_time|min_to_hr }}
                    </li>
                    <li>
                        <b>Servings:</b> {{ recipe.servings }}
                    </li>
                </ul>
            </div>
        </div>


        {% if recipe.short_description %}
            <hr>
            <p><b>About:</b> {{ recipe.short_description }}</p>
        {% endif %}
    </div>
</div>