{% extends 'base.html' %}
{% load django_bootstrap_breadcrumbs %}
{% load render_json_ld from json_ld %}
{% load ratings %}

{% block jsonld %}
    {% render_json_ld sd %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Recipes" "recipe-list" %}
    {% breadcrumb recipe.name "recipe-detail" recipe.slug %}
{% endblock %}

{% block content %}
    {% render_breadcrumbs %}
    <h1>
        {{ recipe.name }}
    </h1>
    <div class="row">
        <div class="col s12 m12 l6">
            <img class="responsive" src={{ recipe.med_image_url }}/>
        </div>
        <div class="col s12 m12 l6">
            {% ratings object template_name="recipe/dumpling_ratings.html" icon_height=25 icon_width=25 %}

            <div>
                <p>
                    {{ recipe.short_description }}
                </p>
            </div>

            <span class="hide">
                <a href="#"><i class="material-icons" aria-hidden="true">print</i></a>
                <a href="#"><i class="fa fa-facebook-f" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                <a id="like_plus_one" href="#">
                    <i class="material-icons"> thumb_up </i>
                    <span id="like_count">{{ recipe.likes }}</span>
                </a>

            </span>
            <span>
                Prep time: {{ recipe.prep_time }} min
            </span>
            <span>
                Cook time: {{ recipe.cook_time }} min
            </span>
            <span>
                Total time: {{ recipe.total_time }} min
            </span>

            {#                <input class="validate" id="num_servings" type="number" min="1" max="100"#}
            {#                       value="{{ recipe.servings }}" size="10"/>#}
            {#                <label for="num_servings"># of servings </label>#}
            {#                <span class="helper-text" data-error="Enter number between 1 and 100" data-success=""></span>#}

            <!-- Dropdown Trigger -->
            <a class='dropdown-trigger btn dropdown-range' href='#' data-target='dropdown1'>
                <span class="range-slider-target teal darken-2" id="num_servings_target"> </span>
                <span>servings</span>
            </a>

            <!-- Dropdown Structure -->
            <div id='dropdown1' class='dropdown-content'>
                <div class="range-slider">
                    <input class="valign-wrapper" data-target="num_servings_target" type="range" id="num_servings"
                           value="{{ recipe.servings }}" min="1" max="100"/>
                </div>
            </div>


            <div>
                <b>Ingredients: </b>
                <div class="ingredient-list">
                    {% for ingredient_amount in recipe.ingredient_amounts.all|dictsortreversed:'amount' %}
                        {#                                <span class="ingredient-amount-val">{{ ingredient_amount.amount }}  </span>#}
                        {% if ingredient_amount.unit %}
                            <span class="chip">
                                    <span class="ingredient-amount"> {{ ingredient_amount.amount }}</span>

                                    {{ ingredient_amount.unit }}
                                    of
                                    {{ ingredient_amount.ingredient }}
                            </span>
                        {% else %}
                            <span class=" chip">{{ ingredient_amount.ingredient }}</span>
                        {% endif %}

                    {% endfor %}
                </div>
            </div>

        </div>


        <div class="col s12 recipe-description flowy-font">
            {{ recipe.description|safe }}
        </div>
        <div class="col s12">
            <hr>

        </div>

        <div class="row">
            <div class="col m10 sm12 recipe-directions">
                {% for direction in recipe.directions.all %}

                    <div class="flowy-font">
                        <h3 id="direction-{{ direction.id }}" class="scrollspy">
                            {{ direction.name }}
                        </h3>

                        {% if direction.ingredient_amounts.count %}
                            <ul class="direction-ingredients collapsible">
                                <li>
                                    <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>
                                        Step ingredients
                                        {#                                        <h3>#}
                                        {#                                            {{ direction.name }}#}
                                        {#                                        </h3>#}
                                    </div>
                                    <div class="collapsible-body">
                                        {% for ingredient_amount in direction.ingredient_amounts.all|dictsortreversed:'amount' %}
                                            {% if ingredient_amount.unit %}
                                                <span class="chip">
                                                    <span class="ingredient-amount"> {{ ingredient_amount.amount }}</span>

{#                                                    <input size="3" type="number" value="{{ ingredient_amount.amount }}"#}
{#                                                           disabled#}
{#                                                           class="ingredient-amount browser-default"/>#}
                                                    {{ ingredient_amount.unit }}
                                                    of
                                                    {{ ingredient_amount.ingredient }}
                                                </span>
                                            {% else %}
                                                <span class="chip">{{ ingredient_amount.ingredient }}</span>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </li>
                            </ul>
                        {% endif %}

                        <div class="direction-markdown">
                            <blockquote>
                                {{ direction.text|safe }}
                            </blockquote>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col m2 sticky-toc hide-on-small-only">
                <ul class="section table-of-contents flowy-font">
                    {% for direction in recipe.directions.all %}
                        <li><a href="#direction-{{ direction.id }}">{{ direction.name }}</a></li>
                    {% endfor %}

                </ul>
            </div>
        </div>


    </div>

{% endblock %}

{% block scripts %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var elems = document.querySelectorAll(".dropdown-range.dropdown-trigger");
            var instances = M.Dropdown.init(elems, {
                hover: false,
                coverTrigger: false,
                constrainWidth: false,
                closeOnClick: false
            });

            var servingsRangeInput = document.getElementById("num_servings");
            var sliderTarget = document.getElementById(servingsRangeInput.dataset.target);
            // var sliderTarget = document.getElementById("range-slider-target");
            sliderTarget.innerHTML = servingsRangeInput.value;

            servingsRangeInput.addEventListener("input", function () {
                sliderTarget.innerHTML = this.value;
            });
        });

        $(document).ready(function () {
            const $servings = $('#num_servings');
            const origServings = {{ recipe.servings }};
            const $ingredientAmt = $('span.ingredient-amount');
            const ingredientDefaultValues = ($ingredientAmt.toArray().map(el => parseFloat(el.innerHTML)));
            console.log(ingredientDefaultValues)
            {#const $ingredientAmt = $('input.ingredient-amount');#}
            {#const ingredientDefaultValues = ($ingredientAmt.toArray().map(el => el.defaultValue));#}
            $servings.on('change', function () {
                /*if (parseFloat($servings.val()) < parseFloat($servings.prop("min"))) {
                    $servings.val($servings.prop("min"));
                }
                if (parseFloat($servings.val()) > parseFloat($servings.prop("max"))) {
                    $servings.val($servings.prop("max"));
                }*/
                $ingredientAmt.each(
                    (idx, el) => {
                        $(el).html(ingredientDefaultValues[idx] * $servings.val() / origServings)
                    }
                )
            })
        });
        $(document).ready(function () {
            $('#like_plus_one').on('click', function () {
                $(this).addClass("liked")
                $.ajax({
                    url: 'like/',
                    data: {
                        'id': {{ recipe.id }}
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data) {
                            $('#like_count').html(data.numLikes)
                        }
                    }
                });
            });
        })

    </script>
{% endblock %}


