{% extends 'base.html' %}
{% load django_bootstrap_breadcrumbs %}
{% load recipe_extras %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Posts" "post-list" %}
{% endblock %}

{% block content %}
    {% render_breadcrumbs %}
    <div class="row">
        <div class="col m3">
            <div class="card-panel">
                <form id="post_filter_form" method="get">
                    {{ filter.form.as_p }}
                    <input class="btn-small" type="submit" value="Search"/>
                    <button class="reset btn-small" type="reset"> Clear</button>
                </form>
            </div>

            <div class="card-panel">
                <div> Popular tags</div>
                {% for tag in post_tags %}
                    <a class="toggle-tag" href="?tags={{ tag.name }}">
                        <span id="tag_{{ tag.name }}" data-tag="{{ tag.name }}"
                              class="chip waves-effect"> {{ tag.name }} | {{ tag.count }} </span>
                    </a>
                {% endfor %}
            </div>
            <div class="card-panel">
                <div> Most recent posts</div>
                <ul>
                    {% for post in most_recent_posts %}
                        <li> <a href="{{ post.get_absolute_url }}"> {{ post.headline }}</a> | {{ post.created_at|date }}</li>
                    {% endfor %}
                </ul>

            </div>
        </div>

        <div class="col m9">


            {#            <table class="responsive-table">#}
            {#                <thead>#}
            {#                <tr>#}
            {#                    <th>Name</th>#}
            {#                    <th>Date</th>#}
            {#                    <th>Tags</th>#}
            {#                </tr>#}
            {#                </thead>#}
            {##}
            {#                <tbody>#}
            {#                {% for post in object_list.all %}#}
            {#                    <tr>#}
            {#                        <td><a href="{{ post.get_absolute_url }}">{{ post.name }} </a></td>#}
            {#                        <td>{{ post.modified_at }}</td>#}
            {#                        <td>#}
            {#                            {% for tag in post.tags.all %}#}
            {#                                <span class="chip"> {{ tag.name }}</span>#}
            {#                            {% endfor %}#}
            {#                        </td>#}
            {#                    </tr>#}
            {#                {% endfor %}#}
            {#                </tbody>#}
            {#            </table>#}
            {% for post in object_list.all %}
                <div class="row">
                    <div class="col s12 m3">
                        <img src={{ post.image_url }}>
                    </div>
                    <div class="col s12 m9">
                        <h3>{{ post.headline }}</h3>
                        <div>
                            {% for tag in post.tags.all %}
                                <span data-tag={{ tag.name }} class="chip"> {{ tag.name }}</span>
                            {% endfor %}
                        </div>
                        <div>
                            {{ post.short_description|truncatewords:100 }}
                            <a href={{ post.get_absolute_url }}> Read more </a>
                        </div>

                    </div>


                </div>
                <hr>

            {% endfor %}
            <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?{% url_replace request 'page' 1 %}"> &laquo; first</a>
                <a href="?{% url_replace request 'page' page_obj.previous_page_number %}"> previous </a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?{% url_replace request 'page' page_obj.next_page_number %}"> next </a>
                <a href="?{% url_replace request 'page' page_obj.paginator.num_pages %}">last &raquo;</a>
            {% endif %}
        </span>
            </div>
        </div>


    </div>


{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            const tags = urlParams.getAll('tags');
            tags.forEach(function (tag) {
                $tags = $("span[data-tag='" + tag + "']");
                $tags.addClass('red lighten-4')
            });

            $('.reset').click(function (e) {
                const $form = $('#post_filter_form')
                $form.find('input:text, input:password, input:file, select, textarea').val('');
                $form.find('input:radio, input:checkbox').removeAttr('checked').removeAttr('selected');
                $form.submit()
            })
        });

    </script>
{% endblock scripts %}



