{% extends 'base.html' %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb "Posts" "post-list" %}
{% breadcrumb post.headline "post-detail" post.slug %}
{% endblock %}

{% block title %}
{{ block.super }}
| {{ post.headline }}
{% endblock title %}

{% block content %}
{% render_breadcrumbs %}
<div class="row blog-post">
    <div class="col s10">
        {{ post.content|safe }}
    </div>
</div>

<div class="row">
    <div class="col s12 m6">
        <div id="disqus_thread"></div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
    var disqus_shortname = "{{ disqus_shortname }}";
    var disqus_observer = new IntersectionObserver(function (entries) {
        // comments section reached
        // start loading Disqus now
        if (entries[0].isIntersecting) {
            var disqus_config = function () {
                this.page.url = window.location.origin + "{{object.get_absolute_url}}";
                this.page.identifier = window.location.origin + "_{{object.slug}}_{{object.id}}";
            };
            (function () {
                var d = document, s = d.createElement('script');
                s.src = `https://${disqus_shortname}.disqus.com/embed.js`;
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();

            // once executed, stop observing
            disqus_observer.disconnect();
        }
    }, { threshold: [0] });
    disqus_observer.observe(document.querySelector("#disqus_thread"));
</script>
{% endblock scripts %}