
@media only screen and (min-width: 360px) {
  .flowy-font {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 390px) {
  .flowy-font {
    font-size: 1.224rem;
  }
}

@media only screen and (min-width: 420px) {
  .flowy-font {
    font-size: 1.248rem;
  }
}

@media only screen and (min-width: 450px) {
  .flowy-font {
    font-size: 1.272rem;
  }
}

@media only screen and (min-width: 480px) {
  .flowy-font {
    font-size: 1.296rem;
  }
}

@media only screen and (min-width: 510px) {
  .flowy-font {
    font-size: 1.32rem;
  }
}

@media only screen and (min-width: 540px) {
  .flowy-font {
    font-size: 1.344rem;
  }
}

@media only screen and (min-width: 570px) {
  .flowy-font {
    font-size: 1.368rem;
  }
}

@media only screen and (min-width: 600px) {
  .flowy-font {
    font-size: 1.392rem;
  }
}

@media only screen and (min-width: 630px) {
  .flowy-font {
    font-size: 1.416rem;
  }
}

@media only screen and (min-width: 660px) {
  .flowy-font {
    font-size: 1.44rem;
  }
}

@media only screen and (min-width: 690px) {
  .flowy-font {
    font-size: 1.464rem;
  }
}

//@media only screen and (min-width: 720px) {
//  .flowy-font {
//    font-size: 1.488rem;
//  }
//}
//
//@media only screen and (min-width: 750px) {
//  .flowy-font {
//    font-size: 1.512rem;
//  }
//}
//
//@media only screen and (min-width: 780px) {
//  .flowy-font {
//    font-size: 1.536rem;
//  }
//}
//
//@media only screen and (min-width: 810px) {
//  .flowy-font {
//    font-size: 1.56rem;
//  }
//}
//
//@media only screen and (min-width: 840px) {
//  .flowy-font {
//    font-size: 1.584rem;
//  }
//}
//
//@media only screen and (min-width: 870px) {
//  .flowy-font {
//    font-size: 1.608rem;
//  }
//}
//
//@media only screen and (min-width: 900px) {
//  .flowy-font {
//    font-size: 1.632rem;
//  }
//}
//
//@media only screen and (min-width: 930px) {
//  .flowy-font {
//    font-size: 1.656rem;
//  }
//}
//
//@media only screen and (min-width: 960px) {
//  .flowy-font {
//    font-size: 1.68rem;
//  }
//}

@media only screen and (max-width: 360px) {
  .flowy-font {
    font-size: 1.2rem;
  }
}

//@media only screen and (min-width: 360px) {
//  .flowy-font {
//    font-size: 0.9rem;
//  }
//}
//
//@media only screen and (min-width: 390px) {
//  .flowy-font {
//    font-size: 0.918rem;
//  }
//}
//
//@media only screen and (min-width: 420px) {
//  .flowy-font {
//    font-size: 0.936rem;
//  }
//}
//
//@media only screen and (min-width: 450px) {
//  .flowy-font {
//    font-size: 0.954rem;
//  }
//}
//
//@media only screen and (min-width: 480px) {
//  .flowy-font {
//    font-size: 0.972rem;
//  }
//}
//
//@media only screen and (min-width: 510px) {
//  .flowy-font {
//    font-size: 0.99rem;
//  }
//}
//
//@media only screen and (min-width: 540px) {
//  .flowy-font {
//    font-size: 1.008rem;
//  }
//}
//
//@media only screen and (min-width: 570px) {
//  .flowy-font {
//    font-size: 1.026rem;
//  }
//}
//
//@media only screen and (min-width: 600px) {
//  .flowy-font {
//    font-size: 1.044rem;
//  }
//}
//
//@media only screen and (min-width: 630px) {
//  .flowy-font {
//    font-size: 1.062rem;
//  }
//}
//
//@media only screen and (min-width: 660px) {
//  .flowy-font {
//    font-size: 1.08rem;
//  }
//}
//
//@media only screen and (min-width: 690px) {
//  .flowy-font {
//    font-size: 1.098rem;
//  }
//}
//
//@media only screen and (min-width: 720px) {
//  .flowy-font {
//    font-size: 1.116rem;
//  }
//}
//
//@media only screen and (min-width: 750px) {
//  .flowy-font {
//    font-size: 1.134rem;
//  }
//}
//
//@media only screen and (min-width: 780px) {
//  .flowy-font {
//    font-size: 1.152rem;
//  }
//}
//
//@media only screen and (min-width: 810px) {
//  .flowy-font {
//    font-size: 1.17rem;
//  }
//}
//
//@media only screen and (min-width: 840px) {
//  .flowy-font {
//    font-size: 1.188rem;
//  }
//}
//
//@media only screen and (min-width: 870px) {
//  .flowy-font {
//    font-size: 1.206rem;
//  }
//}
//
//@media only screen and (min-width: 900px) {
//  .flowy-font {
//    font-size: 1.224rem;
//  }
//}
//
//@media only screen and (min-width: 930px) {
//  .flowy-font {
//    font-size: 1.242rem;
//  }
//}
//
//@media only screen and (min-width: 960px) {
//  .flowy-font {
//    font-size: 1.26rem;
//  }
//}
//
///* not sure why this is repeated, but oh well */
//@media only screen and (max-width: 360px) {
//  .flowy-font {
//    font-size: 0.9rem;
//  }
//}