{% load static %}
{% load compress %}
{% load django_bootstrap_breadcrumbs %}

<!DOCTYPE html>
<html>
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
          rel="stylesheet">
    {% compress css %}
        {#        <link type="text/x-scss" href={% static 'materialize/sass/materialize.scss' %} rel="stylesheet"#}
        {#              media="screen, projection">#}
        <link type="text/css" rel="stylesheet"
              href={% static 'materialize/materialize.min.css' %} media="screen,projection"/>
        <link rel="stylesheet" href={% static 'star-ratings/css/star-ratings.css' %} media="screen,projection">

        <link type="text/x-scss" href={% static 'css/main.scss' %} rel="stylesheet" media="screen, projection">


    {% endcompress %}

    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" rel="stylesheet">


    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}MisoBoop{% endblock %}</title></head>
{% block jsonld %}  {% endblock %}
<body>

<div class="container">
    <!-- Page Content goes here -->
    <div class="row">
        <div class="col s12">
            <div class="site-banner">
                <a href="/">
                    <img class="logo" id="misoboop-cat" src={% static 'assets/lucky_dumpling_cat_min.svg' %}/>
                </a>


                <div class="slogan">
                    <h2 class="slogan-name">
                        MisoBoop
                    </h2>
                    <h5 class="slogan-desc">
                        American cooking with Chinese roots
                    </h5>
                </div>
            </div>
            <nav class="nav-center" role="navigation">
                <div class="nav-wrapper">
                    <div class="nav-search">
                        <form method="GET" action="{% url 'search-recipes' %}" id="nav_recipe_search">
                            <div class="input-field">
                                <i class="material-icons nav-search-prefix">search</i>
                                <input disabled id="ns1" type="search" placeholder="search recipe"
                                       autocomplete="off" class="recipe-autocomplete" name="name__icontains" required>
                                <i id="recipe_nav_search_close" class="material-icons">close</i>
                            </div>
                        </form>


                    </div>

                    <ul class="topnav hide-on-med-and-down">
                        <li><a href={% url 'home' %}>Home</a></li>
                        <li>
                            <a class='dropdown-trigger no-autoinit' href='#' data-target='recipes_nav_dropdown'>
                                Recipes<i class="material-icons right">arrow_drop_down</i>
                            </a>
                        </li>

                        <li><a href={% url 'post-list' %}>Blog</a></li>
                        <li><a href={% url 'about' %}>About</a></li>
                        {#                        <li><a data-target="subscribe_modal" class="modal-trigger">Subscribe</a></li>#}
                    </ul>

                    <a href="#" data-target="mobile_sidenav" class="nav-sidenav-trigger sidenav-trigger"><i
                            class="material-icons">menu</i></a>

                </div>
            </nav>


        </div>
    </div>

    <!-- Recipes nav dropdown -->
    <ul id='recipes_nav_dropdown' class='dropdown-content'>
        <li><a href="{% url 'explore-recipes' %}">Explore</a></li>
        <li><a href={% url 'recipe-series-list' %}>By Series</a></li>
        <li class="divider" tabindex="-1"></li>
        <li><a href="{% url 'search-recipes' %}">Search</a></li>
    </ul>

    <ul class="sidenav no-autoinit" id="mobile_sidenav">
        <li><a href={% url 'home' %}>Home</a></li>
        {#        <li><a href={% url 'recipe-list' %}>Recipes</a></li>#}
        <li>
            <ul class="collapsible collapsible-accordion no-autoinit">
                <li>
                    <a class="collapsible-header">
                        Recipes<i class="material-icons right">arrow_drop_down</i>
                    </a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="{% url 'explore-recipes' %}">Explore</a></li>
                            <li><a href={% url 'recipe-series-list' %}>By Series</a></li>
                            <li class="divider" tabindex="-1"></li>
                            <li><a href="{% url 'search-recipes' %}">Search</a></li>
                        </ul>
                    </div>
                </li>

            </ul>
        </li>

        <li><a href={% url 'post-list' %}>Blog</a></li>
        <li><a href={% url 'about' %}>About</a></li>
        {#        <li><a data-target="subscribe_modal" class="modal-trigger">Subscribe</a></li>#}
    </ul>

    {% block breadcrumbs %}
        {% clear_breadcrumbs %}
        {% breadcrumb "Home" "home" %}
    {% endblock %}

    <div class="main-content">
        {% block content %}
        {% endblock %}
    </div>

    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h3 class="white-text slogify">MisoBoop</h3>
                    <p class="grey-text text-lighten-4">
                        Questions or comments? Feel free to reach out at miso.booper@gmail.com
                    </p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Social media</h5>
                    <div class="social-media-links">
                        <a href="#"><i class="fa fa-instagram white-text" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-facebook-f white-text" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-twitter white-text" aria-hidden="true"></i></a>
                    </div>

                    {#                    <ul>#}
                    {#                        <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>#}
                    {#                        <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>#}
                    {#                        <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>#}
                    {#                        <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>#}
                    {#                    </ul>#}
                </div>
            </div>
        </div>
        {#        <div class="footer-copyright">#}
        {#            <div class="container">#}
        {#                © 2014 Copyright Text#}
        {#                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>#}
        {#            </div>#}
        {#        </div>#}
    </footer>

</div>


<!-- Subscribe modal form -->
<div id="subscribe_modal" class="modal no-autoinit">
    <div class="modal-content">
        <h4>Subscribe</h4>
        <form enctype="multipart/form-data" method="post" action="/newsletter/recipe-of-the-week/subscribe/">
            {% csrf_token %}

            <div class="input-field inline">
                <label for="id_email_field">E-mail:</label>
                <input type="email" name="email_field" required="" id="id_email_field">
                <span class="helptext">required</span>
            </div>

            <div class="input-field inline">
                <label for="id_name_field">Name:</label>
                <input type="text" name="name_field" maxlength="30" id="id_name_field">
                <span class="helptext">optional</span>
            </div>


            <br>
            <button value="Subscribe" id="id_submit" class="btn waves-effect waves-light" type="submit" name="action">
                Submit
                {#                <i class="material-icons right">send</i>#}
            </button>

        </form>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-red btn-flat"><i class="material-icons right">close</i></a>
    </div>
</div>


<!--JavaScript at end of body for optimized loading-->

<!-- PolyFills -->
<script type="module" src="https://cdnjs.cloudflare.com/ajax/libs/fetch/3.0.0/fetch.min.js"></script>
<script type="module" src="https://polyfill.io/v2/polyfill.min.js?features=IntersectionObserver"></script>
<script type="module" src="https://unpkg.com/@ungap/url-search-params@0.1.4/min.js"></script>

<!-- Font Awesome -->
<script src="https://use.fontawesome.com/81596daef6.js"></script>

<!-- jQuery -->
<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>

<!-- 'text/browserify' allows for 'require' on modules (node.js)  -->
{% compress js file base %}
    <!-- vendor js -->
    <script type="text/javascript" src={% static 'materialize/materialize.min.js' %}></script>
    <script type="text/javascript" src={% static 'yall/yall.min.js' %}></script>
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>

    <script type="text/javascript" src="{% static "js/utils.js" %}"></script>
    <script type="text/javascript" src={% static 'recipe/recipe_slick_carousel.js' %}></script>

    <script type="text/javascript" src="{% static "js/app.js" %}"></script>
    <script type="text/javascript" src={% static 'recipe/recipe_nav_search.js' %}></script>
    <script type="text/javascript" src={% static 'recipe/recipe_filter_ajax.js' %}></script>

    <script type="text/javascript" src={% static 'js/subscribe_modal.js' %}></script>
    <script type="text/javascript" src={% static 'js/navs.js' %}></script>
{% endcompress %}

{# todo: reason out if using compressor is this a good idea? #}
{% block scripts %}
{% endblock scripts %}


</body>
</html>