{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col s12 l9 latest-recipes ">
            <h3> Latest recipes </h3>

            <div class="single-item-carousel">
                {% for recipe in latest_recipes %}
                    {% include "recipe/recipe_card.html" with recipe=recipe %}
                {% endfor %}
            </div>

        </div>

        <div class="welcome col offset-s1 s10 l3  ">
            <div class="card yellow lighten-4">
                <div class="card-content">
                    <div class="card-title">
                        <h3> Welcome </h3>
                    </div>
                    <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-facebook-f" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="card yellow lighten-4">
                <div class="card-content">
                    <div class="card-title">
                        <h3> Latest posts </h3>
                    </div>
                    <ul>
                        {% for post in latest_posts %}
                            <li><a href={{ post.get_absolute_url }}>{{ post.headline }}</a>
                                | {{ post.created_at|date }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>

            </div>
        </div>
        <div class="col s12 m6">

        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $('.single-item-carousel').slick({
            arrows: false,
            dots: true,
        })
    </script>
{% endblock scripts %}