{% extends 'base.html' %}
{% load core_extras %}

{% block content %}
    <div class="row">
        <div class="col s12 l9 latest-recipes ">
{#            <h3> Latest recipes </h3>#}

            <div class="fullwidth-slick-carousel">
                {% for recipe in latest_recipes %}
                    <div class="slick-carousel-slide">
                        {% include "recipe/recipe_card.html" with recipe=recipe %}
                    </div>
                {% endfor %}
            </div>

        </div>

        <div class="welcome col offset-s1 s10 l3  ">
            <div class="card color-2">
                <div class="card-content">
                    <div class="card-title">
                        <h4> Welcome </h4>
                    </div>
                    <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-facebook-f" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="card color-2">
                <div class="card-content">
                    <div class="card-title">
                        <h4> Latest posts </h4>
                    </div>

                    <table>
                        {#                        <tr>#}
                        {#                            <th>Name</th>#}
                        {#                            <th>Date</th>#}
                        {#                        </tr>#}
                        {% for post in latest_posts %}
                            <tr>
                                <td>
                                    <a href={{ post.get_absolute_url }}>{{ post.headline }}</a>
                                </td>
                                <td>
                                    {{ post.created_at|date }}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>

            </div>
        </div>
        <div class="col s12 m6">

        </div>
    </div>
{% endblock %}

{% block scripts %}

{% endblock scripts %}