@import "_base_variables";
@import "_theme.scss";

/* materialize override styles */
body {
  font-family: $main-font-family;
  font-size: 1.25rem;
}

input {
  font-family: $main-font-family;
}


h1, h2, h3, h4, h5 {
  font-family: $header-font-family;
}

b {
  font-weight: bold;
}

/* Custom grid layout */
@media (max-width: 600px) {
  .flex-s {
    display: flex;
    flex-direction: column; /* Stack on top */
    div:first-child {
      order: 2; // stack first child on bottom
    }
  }
}

@media (max-width: 992px) {
  .flex-m {
    display: flex;
    flex-direction: column; /* Stack on top */
    div:first-child {
      order: 2; // stack first child on bottom
    }
  }
}

/* use browser-default on blog posts */


.blog-post ul {
  padding-left: 3rem !important;
}

.blog-post li {
  //list-style-type: simp-chinese-informal !important;
  list-style-type: square !important;
}

.blog-post {
  font-size: 1.3rem;
}

/* icon styles */

i.fa {
  font-size: 2rem;
}

/* navbar styles */


.nav-search {
  visibility: hidden;
  transition: 0.3s ease-in;
  transition-property: visibility;
}

.nav-search-prefix {
  position: absolute;
  padding-left: 1rem;
}

//nav.nav-center ul {
//  text-align: center;
//  ul li {
//    display: inline;
//    float: none;
//    a {
//      display: inline-block;
//    }
//  }
//}

@mixin center-aligned-nav-grid($num-cols) {
  display: grid;
  grid-template-columns: 1fr repeat($num-cols, auto) 1fr;
  justify-items: center;
}

nav div.nav-wrapper {
  @include center-aligned-nav-grid(1);

  .nav-search {
    grid-column-start: 1;
    margin-right: auto;
    //width: 80%;
    line-height: 100%;
  }

  @media #{$medium-and-down} {
    // styles for medium screens and down
    .nav-search {
      grid-column: 1 / 4;
    }
  }

  .topnav {
    grid-column-start: 2;
  }

  .nav-sidenav-trigger {
    grid-column-start: -1;
  }
}

.topnav li a {
  font-size: 1.25rem;
}

.sidenav li:first-of-type {
  padding-top: 2rem;
}

a.sidenav-trigger i.material-icons {
  font-size: 3rem;
}

.sidenav li div.search-wrapper {
  color: #777;
  margin-top: -1px;
  border-top: 1px solid rgba(0, 0, 0, 0.14);
  -webkit-transition: margin .25s ease;
  transition: margin .25s ease;
}

.sidenav li div.search-wrapper input#search {
  color: #777;
  display: block;
  font-size: 16px;
  font-weight: 300;
  width: 100%;
  height: 62px;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 45px 0 30px;
  border: 0;
}

.sidenav li div.search-wrapper i.material-icons {
  position: absolute;
  top: 21px;
  right: 10px;
  cursor: pointer;
}

/* site banner styles */

.slogify {
  font-family: $banner-font-family !important;
}

.site-banner {
  display: flex;
  justify-content: center;

  .slogan-name {
    margin: 2rem 0 -1.5rem 0;
    font-family: $banner-font-family !important;
  }

  .logo {
    width: 100px;
    margin: 10px;
  }
}


/* breadcrumbs styles */

.recipe-breadcrumbs li {
  display: inline;
}

/* hide tooltip */
.dropdown-content .thumb {
  display: none;
}

.range-slider {
  margin: 7.5px;
  width: 150px;
}

.range-slider-target {
  padding: 3px;
}

.table-flip {
  margin-top: 2rem;
  font-size: 3rem;
}

/* Single-item slick carousel */
.fullwidth-slick-carousel-title {
  position: absolute;
  left: 0;
  top: 0;
  background: $color1;
  padding: 1rem;
  color: white;
  z-index: 2;
}

.fullwidth-slick-carousel-slide {
  //position: relative;
}