@import "_base_variables";
@import "_theme.scss";

/* General tag styles */
body {
  font-family: $main-font-family;
  font-size: 1.2rem;
}

input {
  font-family: $main-font-family;
}


h1, h2, h3 {
  font-family: $header-font-family;
}

h4, h5, h6 {
  font-family: $subheader-font-family;
}

hr.px1 {
  border-top: 1px solid;
}

hr.px2 {
  border-top: 2px solid;
}

hr.px3 {
  border-top: 3px solid;
}

hr.px4 {
  border: 4px solid;
}

hr.px5 {
  border: 5px solid;
}

.btn, .btn-large, .btn-small, .btn-floating, .btn-flat,
.material-tooltip, input, label {
  font-family: "Open Sans", Sans-serif;
}


b {
  font-weight: bold;
}


.chip {
  font-size: 1.2rem;
  background: $color3;
}

input.valid:not([type]),
input.valid:not([type]):focus,
input.valid[type=text]:not(.browser-default),
input.valid[type=text]:not(.browser-default):focus,
input.valid[type=password]:not(.browser-default),
input.valid[type=password]:not(.browser-default):focus,
input.valid[type=email]:not(.browser-default),
input.valid[type=email]:not(.browser-default):focus,
input.valid[type=url]:not(.browser-default),
input.valid[type=url]:not(.browser-default):focus,
input.valid[type=time]:not(.browser-default),
input.valid[type=time]:not(.browser-default):focus,
input.valid[type=date]:not(.browser-default),
input.valid[type=date]:not(.browser-default):focus,
input.valid[type=datetime]:not(.browser-default),
input.valid[type=datetime]:not(.browser-default):focus,
input.valid[type=datetime-local]:not(.browser-default),
input.valid[type=datetime-local]:not(.browser-default):focus,
input.valid[type=tel]:not(.browser-default),
input.valid[type=tel]:not(.browser-default):focus,
input.valid[type=number]:not(.browser-default),
input.valid[type=number]:not(.browser-default):focus,
input.valid[type=search]:not(.browser-default),
input.valid[type=search]:not(.browser-default):focus,
textarea.materialize-textarea.valid,
textarea.materialize-textarea.valid:focus, .select-wrapper.valid > input.select-dropdown {
  border-bottom: 1px solid $link-color;
  -webkit-box-shadow: 0 1px 0 0 $link-color;
  box-shadow: 0 1px 0 0 $link-color;
}


/* Main content wrapper */
.main-content {
  min-height: 80vh;
}




/* Custom grid layout */
@media (max-width: 600px) {
  .flex-s {
    display: flex;
    flex-direction: column; /* Stack on top */
    div:first-child {
      order: 2; // stack first child on bottom
    }
  }
}

@media (max-width: 992px) {
  .flex-m {
    display: flex;
    flex-direction: column; /* Stack on top */
    & > div:first-child {
      order: 2; // stack first child on bottom
    }
  }
}

/* use browser-default on blog posts */
.blog-post ul {
  padding-left: 3rem !important;
}

.blog-post li {
  //list-style-type: simp-chinese-informal !important;
  list-style-type: square !important;
}

.blog-post {
  font-size: 1.3rem;
}

/* site banner styles */

.banner-font {
  font-family: $banner-font-family;
}

.site-banner {
  display: flex;
  justify-content: center;

  .slogan-name {
    margin: 2rem 0 -1.5rem 0;
    font-family: $banner-font-family !important;
  }

  .slogan-desc {
    font-family: $header-font-family !important;
  }

  .logo {
    width: 100px;
    margin: 10px;
  }
}


/* breadcrumbs styles */

.recipe-breadcrumbs li {
  display: inline;
}

/* hide tooltip */
.dropdown-content .thumb {
  display: none;
}

.range-slider {
  margin: 7.5px;
  width: 150px;
}

.range-slider-target {
  padding: 3px;
}

.table-flip {
  margin-top: 2rem;
  font-size: 3rem;
}

/* Single-item slick carousel */
.fullwidth-slick-carousel-title {
  position: absolute;
  left: 0;
  top: 0;
  background: $color1;
  padding: 1rem;
  color: white;
  z-index: 2;
}

.fullwidth-slick-carousel-slide {
  //position: relative;
}