/* Icon styles */

/* fa icons styles */
a.social-media-link {
  font-size: 2rem;
  color: #ffab40;
  margin-right: 24px;
  opacity: 1;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
  text-transform: uppercase;
  //line-height: 1rem;

}

a.social-media-link.whiten {
  color: #fff;
  opacity: 1;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;

  &:hover {
    opacity: 0.5;
  }
}