input.ingredient-amount {
  border: none;
  display: inline;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  width: auto;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  background: none;
  color: inherit;
  text-align: center;
}

.direction-markdown ul {
  list-style-type: decimal;
  li {
    list-style: circle;
    margin-left: 30px;
  }
}

.direction-markdown ul {
  padding-left: 1.5rem !important;
}

.direction-markdown li {
  //list-style-type: simp-chinese-informal !important;
  list-style-type: square !important;
}

#like_plus_one.liked {
  color: green;
}

