@import "_theme.scss";

.card-image.waves-effect {
  overflow: unset; // very specific bug in chrome where 'lazified' card images not showing with 'waves-effect' class
}

.recipe-card .card-title {
  font-size: 1.25rem;
  padding: 1rem;
  font-family: $header-font-family;
  font-weight: 600;
}

.recipe-card .card-content {
  padding: 0;
}

.recipe-card .card-content, .recipe-card .card-reveal {
  background: $color2;
}

.recipe-card .card-reveal .card-title {
  padding-left: 0;
}

.recipe-card.card .card-reveal {
  padding: 7.5%;
}