img.recipe-sneakpeek-image {
  object-fit: cover;
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: 250px;
  opacity: 1;
  transition: opacity 0.3s ease;
  &:hover {
    opacity: 0.5;
  }
}

.recipe-sneakpeek-info {
  font-size: 1rem;

}

.recipe-sneakpeek-date {
  color: grey;
}

.recipe-sneakpeek-title a {
  color: currentColor;
  &:hover {
    color: $link-color;
    text-decoration: underline;
  }
}