input.ingredient-amount {
  border: none;
  display: inline;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  width: auto;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  background: none;
  color: inherit;
  text-align: center;
}

.direction-markdown ul {
  list-style-type: decimal;
  li {
    list-style: circle;
    margin-left: 30px;
  }
}

.direction-markdown ul {
  padding-left: 1.5rem !important;
}

.direction-markdown li {
  //list-style-type: simp-chinese-informal !important;
  list-style-type: square !important;
}

#like_plus_one.liked {
  color: green;
}

.mobile-fab-tip {
	position: fixed;
	right: 85px;
	padding:0px 0.5rem;
	text-align: right;
	background-color: #323232;
	border-radius: 2px;
	color: #FFF;
	width:auto;
}

.recipe-tag.chip {
  font-size: 1.5rem;
  background: $color3;
  //color: #fff;
}