.sidenav .collapsible li:first-of-type {
  padding-top: 0rem;
}

.sidenav .collapsible {
  padding: 0 !important;
}

.sidenav .collapsible .collapsible-header {
  padding: 0 32px !important;

}
.sidenav .collapsible-body {
    padding: 0 16px !important;
}