@import "materialize/sass/components/_color-variables";

$color1: color("materialize-red", "lighten-2");
$color2: color("amber", "lighten-5");
$color3: color("blue-grey", "lighten-4");

.color-1 {
  background-color: $color1;
}

.color-2 {
  background-color: $color2;
}

.color-3 {
  background-color: $color3;
}
